.update-product input[type="text"],
.update-product input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-product button[type="submit"] {
    width: auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-product button[type="submit"]:hover {
    background-color: #218838;
    transform: translateY(-5px);
}
h1{
    text-align: center;
}
.update-product {
    margin-top: 20px;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1{
    text-align: center;
}