{% extends 'home.html' %}
{% block title %}Create Bill{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'invoice/css/details.css' %}">
{% endblock %}

{% block content %}
    <div class="invoice-container">
        <div class="header">
            <div>
                <img src="logo.png" alt="Ecommerce Surface">
                <p>Ecommerce Surface</p>
            </div>
            <div class="invoice-title">
                <p>INVOICE</p>
            </div>
        </div>
        <div class="invoice-details">
            <p>Invoice Number: {{ mybill.invoice_number }}</p>
            <p>Date: {{ mybill.time_stamp }}</p>
        </div>
        <div class="billing-details">
            <div>
                <p><strong>Bill from:</strong></p>
                <p>xyz<br>Dillibazar, 446600<br>+977 9867546780</p>
            </div>
            <div>
                <p><strong>Bill to:</strong></p>
                <p>{{ mybill.customer.name }}<br>{{ mybill.customer.address }}<br>{{ mybill.customer.phone_number }}</p>
            </div>
        </div>
        <table class="items">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bill_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.purchase_price }}</td>
                    <td>{{ item.subtotal|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="terms">
            <p><strong>Terms & Conditions:</strong></p>
            <p></p>
        </div>
        <table class="totals">
            <tbody>
                <tr>
                    <th>Subtotal:</th>
                    <td>{{ mybill.subtotal|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th>VAT</th>
                    <td>{{ mybill.vat|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th>Shipping Cost:</th>
                    <td>{{ mybill.shipping_cost|default_if_none:"0.00" }}</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>{{ mybill.total_price|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ mybill.get_paid_status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{%endblock%}
